{% if podman_container_secrets is defined %}
{% for podman_container_secret in podman_container_secrets %}
{% if podman_container_secret.target is defined %}
- {{ podman_container_name + '-' + podman_container_secret.name }},type=mount,target={{ podman_container_secret.target }}
{% elif podman_container_secret.global_target is defined %}
- {{ podman_container_secret.global_name }},type=mount,target={{ podman_container_secret.global_target }}
{% elif podman_container_secret.global_name is defined %}
- {{ podman_container_secret.global_name }},type=mount
{% elif podman_container_secret.name is defined %}
- {{ podman_container_name + '-' + podman_container_secret.name }},type=mount
{% endif %}
{% endfor %}
{% else %}
[]
{% endif %}
