{% if container_secrets is defined %}
{% for item in container_secrets %}
{% if item.container_secret_target is defined %}
- {{ container_name + '-' + item.container_secret_name }},type=mount,target={{ item.container_secret_target }}
{% elif item.global_secret_target is defined %}
- {{ item.global_secret_name }},type=mount,target={{ item.global_secret_target }}
{% elif item.global_secret_name is defined %}
- {{ item.global_secret_name }},type=mount
{% elif item.container_secret_name is defined %}
- {{ container_name + '-' + item.container_secret_name }},type=mount
{% endif %}
{% endfor %}
{% else %}
[]
{% endif %}
