[Unit]
Description=Podman container {{ podman_container_name }}
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/containers/storage
RequiresMountsFor=/var/lib/containers/storage
RequiresMountsFor=/var/lib/volumes/storage
BindsTo={{ podman_container_pod }}.service
After={{ podman_container_pod }}.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStopSec=70
ExecStart=/usr/bin/podman start {{ podman_container_name }}
ExecStop=/usr/bin/podman stop -t 10 {{ podman_container_name }}
ExecStopPost=/usr/bin/podman stop -t 10 {{ podman_container_name }}
PIDFile=/run/containers/pids/{{ podman_container_name }}.pid
Type=forking

[Install]
WantedBy=default.target
